/* Uvoz fonta sa Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Resetovanje CSS-a */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; /* Postavljanje fonta za cijelu stranicu */
}

/* Podešavanje smooth scroll-a */
html {
    scroll-behavior: smooth;
}

/* Stilizacija tijela stranice */
body {
    background: #f2f2f2; /* Postavljanje pozadine tijela stranice */
}

/* Stilizacija zaglavlja (header-a) */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5); /* Transparentna pozadina zaglavlja */
}

/* Stilizacija navigacijske trake */
.navbar {
    display: flex;
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

    /* Stilizacija hamburger ikone za mobilni meni */
    .navbar input#menu-toggler {
        display: none;
    }

    /* Stilizacija checkbox-a koji omogućava prikazivanje mobilnog menija */
    .navbar #hamburger-btn {
        cursor: pointer;
        display: none;
    }

    /* Stilizacija svih linkova u navigaciji */
    .navbar .all-links {
        display: flex;
        align-items: center;
    }

        /* Stilizacija pojedinačnih linkova u navigaciji */
        .navbar .all-links li {
            position: relative;
            list-style: none;
        }

    /* Stilizacija loga */
    .navbar .logo a {
        display: flex;
        align-items: center;
        margin-left: 0;
    }

/* Stilizacija linkova u zaglavlju i podnožju stranice */
header a, footer a {
    margin-left: 40px;
    text-decoration: none;
    color: #fff; /* Boja teksta linkova */
    height: 100%;
    padding: 20px 0;
    display: inline-block;
}

    /* Stilizacija linkova na hover */
    header a:hover, footer a:hover {
        color: #ddd; /* Boja teksta linkova na hover */
    }

/* Stilizacija sekcije naslovne stranice */
.homepage {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url("images/home-bg.jpg"); /* Pozadinska slika naslovne stranice */
    background-position: center 65%;
    background-size: cover;
}

    /* Dodavanje transparentnog overlay-a na pozadinsku sliku */
    .homepage::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
    }

    /* Stilizacija sadržaja naslovne stranice */
    .homepage .content {
        display: flex;
        height: 85%;
        z-index: 3;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

        /* Stilizacija naslova na naslovnoj stranici */
        .homepage .content h1 {
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        /* Stilizacija teksta na naslovnoj stranici */
        .homepage .content .text {
            margin-bottom: 50px;
            color: #fff;
            font-size: 20px;
            text-align: center;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Sjenčanje teksta */
        }

/* Stilizacija dugmadi */
.content a {
    color: #000;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #fff;
    border: 2px solid #fff;
    transition: 0.4s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Dodavanje sjenke dugmadima */
    text-decoration: none;
}

    /* Stilizacija dugmadi na hover */
    .content a:hover {
        color: #fff;
        background: rgba(255,255,255,0.3);
    }

/* Stilizacija sekcija */
section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0;
}

    /* Stilizacija naslova sekcija */
    section h2 {
        font-size: 2rem;
    }

    /* Stilizacija paragrafa unutar sekcija */
    section > p {
        text-align: center;
    }

/* Stilizacija buttona */
.button {
    background-color: #04AA6D; /* Zelena boja dugmeta */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Stilizacija kartica u sekciji Portfolio */
section .cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    padding: 0 10px;
    justify-content: space-between;
}

/* Stilizacija sekcije O nama */
section.about {
    margin: 0 auto;
    max-width: 1200px;
}

/* Stilizacija informacija o kompaniji */
.about .company-info {
    margin-top: 30px;
}

/* Stilizacija naslova u sekciji O nama */
.about h3 {
    margin: 30px 0 10px;
}

/* Stilizacija tima */
.about .team {
    text-align: left;
    width: 100%;
}

    /* Stilizacija liste sa članovima tima */
    .about .team ul {
        padding-left: 20px;
    }

/* Stilizacija kartica */
section .cards .card {
    background: #fff;
    padding: 40px 15px;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04); /* Dodavanje sjenke karticama */
    margin-bottom: 40px;
    width: calc(100% / 3 - 30px);
    text-align: center;
}

/* Stilizacija kartica u sekciji Portfolio */
.portfolio .cards .card {
    padding: 0 0 20px;
}

/* Stilizacija slika u karticama */
.services .card img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 100%;
    object-fit: cover;
}

/* Stilizacija slike u karticama u sekciji Portfolio */
.portfolio .card img {
    width: 100%;
    padding-bottom: 10px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 7px;
}

/* Stilizacija paragrafa u karticama */
.cards .card p {
    padding: 0 15px;
    margin-top: 5px;
}

/* Stilizacija redova u sekciji O nama i Kontakt */
.about .row,
.contact .row {
    padding: 0 10px;
}

/* Stilizacija redova u sekciji Kontakt */
.contact .row {
    margin: 60px 0 90px;
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

    /* Stilizacija stupaca u sekciji Kontakt */
    .contact .row .col {
        padding: 0 10px;
        width: calc(100% / 2 - 50px);
    }

/* Stilizacija paragrafa unutar stupaca */
.contact .col p {
    margin-bottom: 10px;
}

    /* Stilizacija ikona u paragrafima */
    .contact .col p i {
        color: #7a7a7a; /* Boja ikona */
        margin-right: 10px;
    }

/* Stilizacija input polja u kontakt formi */
.contact form input {
    height: 45px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: 1px solid #bfbfbf; /* Boja granice input polja */
}

/* Stilizacija textarea polja u kontakt formi */
.contact form textarea {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    height: 150px;
    outline: none;
    resize: vertical;
    border: 1px solid #bfbfbf; /* Boja granice textarea polja */
}

/* Stilizacija dugmeta u kontakt formi */
.contact form button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 17px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #333; /* Boja pozadine dugmeta */
    transition: 0.2s ease;
}

    /* Stilizacija dugmeta na hover */
    .contact form button:hover {
        background: #525252; /* Boja pozadine dugmeta na hover */
    }

/* Stilizacija podnožja stranice */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background: #000; /* Boja pozadine podnožja */
    padding: 20px 0;
}

    /* Stilizacija sadržaja unutar podnožja */
    footer div {
        padding: 0 10px;
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    /* Stilizacija teksta unutar podnožja */
    footer span {
        color: #fff; /* Boja teksta */
    }

    /* Stilizacija linkova unutar podnožja */
    footer a {
        padding: 0;
    }

/* Media query za ekrane manje od 860px */
@media screen and (max-width: 860px) {
    /* Stilizacija mobilnog menija */
    .navbar .all-links {
        position: fixed;
        left: -100%;
        width: 300px;
        display: block;
        height: 100vh;
        top: 75px;
        background: #333; /* Boja pozadine mobilnog menija */
        transition: left 0.3s ease;
    }

    /* Prikazivanje mobilnog menija kada je checkbox označen */
    .navbar #menu-toggler:checked ~ .all-links {
        left: 0;
    }

    /* Stilizacija pojedinačnih linkova u mobilnom meniju */
    .navbar .all-links li {
        font-size: 18px;
    }

    /* Prikazivanje hamburger ikone za mobilni meni */
    .navbar #hamburger-btn {
        display: block;
    }

    /* Stilizacija paragrafa unutar sekcija */
    section > p {
        text-align: center;
    }

    /* Stilizacija kartica za ekrane manje od 860px */
    section .cards .card {
        width: calc(100% / 2 - 15px);
        margin-bottom: 30px;
    }

    /* Prilagođavanje veličine naslova na naslovnoj stranici za ekrane manje od 860px */
    .homepage .content h1 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    /* Prilagođavanje veličine teksta na naslovnoj stranici za ekrane manje od 860px */
    .homepage .content .text {
        font-size: 17px;
    }

    /* Prilagođavanje veličine dugmadi za ekrane manje od 860px */
    .content a {
        font-size: 17px;
        padding: 9px 20px;
    }

    /* Stilizacija redova u sekciji Kontakt za ekrane manje od 860px */
    .contact .row {
        flex-direction: column;
    }

        /* Prilagođavanje širine stupaca u sekciji Kontakt za ekrane manje od 860px */
        .contact .row .col {
            width: 100%;
        }

            /* Podešavanje margine za posljednji stupac u sekciji Kontakt za ekrane manje od 860px */
            .contact .row .col:last-child {
                margin-top: 40px;
            }

    /* Sakrivanje linkova u podnožju za ekrane manje od 860px */
    footer a {
        height: 0;
    }
}

/* Media query za ekrane manje od 560px */
@media screen and (max-width: 560px) {
    /* Prilagođavanje širine kartica za ekrane manje od 560px */
    section .cards .card {
        width: 100%;
        margin-bottom: 30px;
    }
}
